.buttonList {
  display: flex;
  gap: 20px;
  justify-content: center;

  padding: 0;
}

.good, .neutral, .bad{
  width: 80px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: box-shadow 150ms ease;
  color: white;
}

.good{
  
  background-color: #90EE90;
}

.neutral{
  background-color: #ADD8E6;
}

.bad{
  background-color: #FFC0CB;
}

.good:hover, .good:focus,
.neutral:hover, .neutral:focus,
.bad:hover, .bad:focus{
  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
